<div class="rank">
  <div class="rank-txt">{{product.productId}}</div>
</div>
<div class="image">
  <img src="{{product.imagePath}}" class="image-content" />
</div>
<div class="content" (click)="clickItem(product)">
  <div class="product-detail">
    <div class="product-sub-detail">
      <div class="product-title">{{product.title}} </div>
      <div class="tags check"><img src="../assets/images/check.png" /></div>
      <div class="day-ago tags">2 days ago</div>
      <div class="dropship tags">Dropship</div>
      <div class="cloud tags"><img src="../assets/images/cloud.png" /></div>
      <div class="eye tags"><img src="../assets/images/eye.png" /></div>
      <div class="setting tags"><img src="../assets/images/setting.png" /></div>
    </div>
    <div class="product-statistics">
      <div class="icon-pin">
        <div>{{product.tags}}</div>
      </div>
      <div class="icon-star">
        <div>{{product.rating}}</div>
      </div>
      <div class="icon-shield">
        <div>{{product.percentage}}%</div>
      </div>
      <div class="icon-epack" *ngIf="product.ePacket">
        <div>ePack</div>
      </div>
    </div>
  </div>
  <div class="product-price">${{product.price}}</div>
  <div class="product-action">
    <div class="icon-eye"></div>
    <div class="icon-heart"></div>
    <div class="icon-add"></div>
  </div>
</div>
