
.container {
  background-color: #E5E5E5;
  margin: -8px;
  padding:5px;
}

.row {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
}

.rank {
  background-color: white;
  width: 130px;
  height: 130px;
  border-radius: 14px;   
  display: flex;
  margin-right: 6px;
}

.rank-txt {
  color: #888CA9;
  font-size: 35px;
  margin: auto;
  font-weight: 900;
  font-family: "Avenir";
}

.image {
  background-color: white;
  width: 130px;
  height: 130px;
  border-radius: 14px;   
  display: flex;
  margin-right: 6px;
}

.image-content {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.content {
  background-color: white;
  width: 790px;
  border-radius: 14px;   
  display: flex;
  margin-right: 6px;
  padding: 31px 40px;
}

.product-title {
  color: #3F4457;
  font-weight: 900;
  font-size: 22px;
  font-family: "Avenir";
}